.image-detail {
  max-width: calc(1200px + 1rem);
  margin: 2rem auto;
  padding: 0 1rem;
}

.image-desc-item {
  margin: 0 0 0.5rem 0;

  &.main {
    font-size: 1.5rem;
  }

  &.sub {
    font-size: 1.2rem;
    color: map-get($theme-colors, accent);
  }
}

.image-desc-list {
  margin-bottom: 1rem;

  .image-desc-item:last-child {
    margin-bottom: 0;
  }
}

.image-tag-item {
  $bgc: map-get($theme-colors, primary);
  background-color: $bgc;
  color: map-get($theme-colors, white);
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  margin: 0.2rem;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bgc, 5%);
  }
}

.image-tag-list {
  margin: -0.2rem -0.2rem 1.8rem -0.2rem;
}
